#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
   * text-align: center;
   * color: #2c3e50;
   *  margin-top: 60px;
   */
}

ul#colors, ul#dices, ul#themes {
    list-style: none;
}

#themes li {
    display:ã€€inline;
}
#dices li {
    font-size: 70px;
    display: inline;
}

#colors li {
    font-size: 50px;
    display: inline;
}
